<!DOCTYPE html>
<html>
<head>
	<title>Adoption</title>
</head>
<body>
	<h1>Adoption</h1>
	<form method="post" action="/display">
		Name: <input type="text" name="name">
		Breed: <input type="text" name="breed">
		Age: <input type="text" name="age">
		<button type="submit" value="submit">Submit</button>
	</form>
</body>
</html>