<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Puppy Name: <%= "\n#{@le_puppy.name}" %> </p>
	<p>Puppy Breed: <%= "\n#{@le_puppy.breed}"%> </p>
	<p>Puppy Age: <%= "\n#{@le_puppy.age}"%> </p>

</body>
</html>