<!DOCTYPE html>
<head>
  <title>Puppy Adoption Site - Display New Puppy</title>
</head>

<body>
  <h1>The Newly Added Puppy's Information:</h1>
  <p><%= "Puppy Name:\n" +@puppy.name %></p>
  <p><%="Puppy Breed:\n" +@puppy.breed %></p>
  <p><%= "Puppy Age:\n" +@puppy.age %></p>
</body>

</html>
